@font-face {
  font-family: "Gang-Of-Three";
  src: url("/assets/fonts/gang-of-three/go3v2.ttf");
}

body {
  align-items: center;
  background: var(--gray-12) url("https://res.cloudinary.com/jamie-scott-co-uk/image/upload/c_scale,w_2000/code-ninja/code-ninja-bg-1.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

h1 {
  color: var(--gray-0);
  font-family: "Gang-Of-Three", var(--font-sans);
  font-size: 10rem;
  letter-spacing: var(--font-letterspacing-4);
  rotate: -2deg;
  -webkit-text-stroke: 3px var(--gray-12);
}